body, html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.show-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hide-overlay {
  top: 0;
  right: 0;
}

.hamburger {
  right: 10px;
  top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30px;
  width: 35px;
  position: absolute;
  overflow: hidden;
  z-index: 120;
  transform: translate3d(0, 0, 0);
}

.hamburger__bar {
  display: block;
  right: 0;
  width: 22px;
  height: 2px;
  margin: 2px 0;
  background: #fff;
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

.hamburger.active .hamburger__bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.hamburger.active .hamburger__bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .hamburger__bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.side-bar {
  transition: all .120s linear;
  position: fixed;
  z-index: 400;
  top: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-bar-anchor-wrapper {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

header.header-block {
  height: 240px;
  position: relative;
  background-image: url(../public/js-background.png);
  background-size: contain;
  box-shadow: 0 1px 3px rgba(0,0,0, .10), 0 1px 2px rgba(0,0,0, .18);;
}

header .header-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.2) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.2) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#33000000',GradientType=0 );
}

header.header-block .header-description {
  padding-top: 1rem;
  position: relative;
  z-index: 20;
  color: #fff;
  text-align: center;
}

header.header-block .header-image {
  min-height: 180px;
  width: 180px;
  position: absolute;
  left: 44%;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0, .14), 0 1px 2px rgba(0,0,0, .22);
  background: url(../public/mike.jpg);
  background-size: cover;
}

.side-bar-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.side-bar-anchor:hover {
  transition: all .1s linear;
  background: #eee;
}

.side-bar-open {
  box-shadow: 0 3px 6px rgba(0,0,0, .16), 0 3px 6px rgba(0,0,0, .22);
  width: 200px;
}

.side-bar-open .side-bar-anchor {
}

.side-bar-closed {
  width: 0;
}

.category-selected {
  border: 2px solid red;
}