body, html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay {
  background: rgba(255, 255, 255, 0.34);
  position: fixed;
}

.show-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hide-overlay {
  top: 0;
  right: 0;
}

.hamburger {
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30px;
  width: 35px;
  position: absolute;
  overflow: hidden;
  z-index: 120;
  transform: translate3d(0, 0, 0);
}

.hamburger__bar {
  display: block;
  right: 0;
  width: 22px;
  height: 2px;
  margin: 2px 0;
  background: black;
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

.hamburger.active .hamburger__bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.hamburger.active .hamburger__bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .hamburger__bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.side-bar {
  transition: all .120s linear;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-bar-anchor-wrapper {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.side-bar-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.side-bar-anchor:hover {
  transition: all .1s linear;
  background: #eee;
}

.side-bar-open {
  box-shadow: 0 3px 6px rgba(0,0,0, .16), 0 3px 6px rgba(0,0,0, .22);
  width: 200px;
}

.side-bar-open .side-bar-anchor {
}

.side-bar-closed {
  width: 0;
}